<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Photography | By RaviTeja</title>
    <link rel="shortcut icon" href="/static/fast-food-outline.svg" type="image/x-icon">
    <link rel="stylesheet" href="../views/aboutus.css">
</head>

<body>

    <div id="navbar">
        <div class="logo">
            <h4>RaviTeja</h4>
        </div>
        <div class="navelements">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

    </div>
    <div class="mpart">
        <img src="/static/aboutsidepic.jpg" alt="">
        <div class="aboutpara">
            <h3> ABOUT JADE</h3>
            <br>
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you
            like on your page.
            <br>
            <br>

            ​

            This is a great space to write long text about your company and your services. You can use this space to go
            into a little more detail about your company.
            <br>
            <br>

            <h5> Education</h5>
            <br>

            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click me to add your own content and make changes to the font.
            <br>
            <br>
           <h5> Awards & Nominations:</h5>
           <br>
            I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.
        </div>
    </div>




    
    <div class="foot">
        <a href="https://twitter.com/Raviteja_2674"><img src="static/Twitter.webp" alt=""></a>
        <a href="https://www.instagram.com/raviteja_2674/"><img src="static/Instagram.webp" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100087101992823"><img src="static/facebook.webp" alt=""></a>

    </div>
    <div class="crline">
        <p> © 2035 by The Art of Food. Powered and secured by Teja..</p>
    </div>


</body>

</html>