<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Photography | By RaviTeja</title>
    <link rel="shortcut icon" href="/static/fast-food-outline.svg" type="image/x-icon">
    <link rel="stylesheet" href="../views/bakedfoods.css">
</head>

<body>
    <div id="navbar">
        <div class="logo">
            <h4>RaviTeja</h4>
        </div>
        <div class="navelements">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="upphead">
        <a href="/portfolio" class="backbtn">
            <h4> &#60; Back to Portfolio</h4>
        </a>


        <h1>Baked Foods</h1>
    </div>


    <div class="container">
        <div class="box1">
            <div class="upimages">
                <div class="ulside">
                    <img src="/static/84770f_1df0e9489ec24c7284e8c42489805f3f~mv2_d_3872_2444_s_4_2.jpg" alt="">

                </div>
                <div class="urside">
                    <img src="/static/84770f_b133f838045148d386de1d1b315b24ae~mv2_d_3000_2003_s_2.jpg" alt="">

                </div>
            </div>
            <div class="down">
                <img src="/static/84770f_25e2acc8b9024273a5bea9d1859b6bb0~mv2_d_3888_2592_s_4_2.jpg" alt="">

            </div>

        </div>
        <div class="box2">
            <img src="/static/84770f_f2f8618de67e4b4fa5c4316f8356c055~mv2_d_3000_2003_s_2.jpg" alt="">

        </div>
    </div>




    <div class="foot">
        <a href="https://twitter.com/Raviteja_2674"><img src="static/Twitter.webp" alt=""></a>
        <a href="https://www.instagram.com/raviteja_2674/"><img src="static/Instagram.webp" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100087101992823"><img src="static/facebook.webp" alt=""></a>

    </div>
    <div class="crline">
        <p> © 2035 by The Art of Food. Powered and secured by Teja..</p>
    </div>








</body>

</html>