<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Photography | By RaviTeja</title>
    <link rel="shortcut icon" href="/static/fast-food-outline.svg" type="image/x-icon">
    <link rel="stylesheet" href="../views/blog.css">
</head>

<body>
    <div id="navbar">
        <div class="logo">
            <h4>RaviTeja</h4>
        </div>
        <div class="navelements">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="mhead">

        <h1>Blog</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="box1">
                <img src="/static/495dbf5ead054840a9b405f5b8e55af3.webp" alt="">

            </div>
            <div class="box2">
                <div class="upbox">
                    <img src="/static/profilepic.png" alt="">

                    <div class="admindetails">
                        <div class="admin">
                            <p>Admin </p>
                            <img src="/static/crown.png" alt="">
                        </div>
                        <div class="date">
                            <p>May 23</p>

                            <p> &#183; 1 min</p>
                        </div>

                    </div>
                </div>
                <div class="para">
                    <h2>The Holiday Special</h2>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and
                        entices your audience to continue reading....</p>
                </div>


                <hr>
                <div class="last">
                    <p>20,440 views</p>
                    <p>10,350 comments</p>
                    <p class="loveimg" onclick="l1()">❤️‍🔥</p>


                    <!-- <img src="heart-outline.svg" alt=""> -->
                </div>
            </div>
        </div>
<!-- box2 -->

        <div class="box">
            <div class="box1">
                <img src="/static/cd1da2d221ec4d71af4e3ed305010c7c.webp" alt="">

            </div>
            <div class="box2">
                <div class="upbox">
                    <img src="/static/profilepic.png" alt="">

                    <div class="admindetails">
                        <div class="admin">
                            <p>Admin </p>
                            <img src="/static/crown.png" alt="">
                        </div>
                        <div class="date">
                            <p>May 23</p>

                            <p> &#183; 1 min</p>
                        </div>

                    </div>
                </div>
                <div class="para">
                    <h2>Simple BackDrops For Food Shots</h2>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and
                        entices your audience to continue reading....</p>
                </div>


                <hr>
                <div class="last">
                    <p> 4,859views</p>
                    <p>2,140 comments</p>
                    <p class="loveimg" onclick="l1()">❤️‍🔥</p>


                    <!-- <img src="heart-outline.svg" alt=""> -->
                </div>
            </div>
        </div>

<!-- box3 -->
        <div class="box">
            <div class="box1">
                <img src="/static/ce9814ce9f304fd6a9ae1bb862863c81.webp" alt="">

            </div>
            <div class="box2">
                <div class="upbox">
                    <img src="/static/profilepic.png" alt="">

                    <div class="admindetails">
                        <div class="admin">
                            <p>Admin </p>
                            <img src="/static/crown.png" alt="">
                        </div>
                        <div class="date">
                            <p>May 23</p>

                            <p> &#183; 1 min</p>
                        </div>

                    </div>
                </div>
                <div class="para">
                    <h2>Before The Drip</h2>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and
                        entices your audience to continue reading....</p>
                </div>


                <hr>
                <div class="last">
                    <p>7,432 views</p>
                    <p>4,255 comments</p>
                    <p class="loveimg" onclick="l1()">❤️‍🔥</p>


                    <!-- <img src="heart-outline.svg" alt=""> -->
                </div>
            </div>
        </div>

        <!-- box4 -->
        <div class="box">
            <div class="box1">
                <img src="/static/57a7b875930547cdb003bc37b6713574.webp" alt="">

            </div>
            <div class="box2">
                <div class="upbox">
                    <img src="/static/profilepic.png" alt="">

                    <div class="admindetails">
                        <div class="admin">
                            <p>Admin </p>
                            <img src="/static/crown.png" alt="">
                        </div>
                        <div class="date">
                            <p>May 23</p>

                            <p> &#183; 1 min</p>
                        </div>

                    </div>
                </div>
                <div class="para">
                    <h2>Styling Your Shots</h2>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and
                        entices your audience to continue reading....</p>
                </div>


                <hr>
                <div class="last">
                    <p>30,046 views</p>
                    <p>16,479 comments</p>
                    <p class="loveimg" onclick="l1()">❤️‍🔥</p>


                    <!-- <img src="heart-outline.svg" alt=""> -->
                </div>
            </div>
        </div>

        <!-- box5 -->
        <div class="box">
            <div class="box1">
                <img src="/static/9e01dfb9a15749e482e69dbc82886703.webp" alt="">

            </div>
            <div class="box2">
                <div class="upbox">
                    <img src="/static/profilepic.png" alt="">

                    <div class="admindetails">
                        <div class="admin">
                            <p>Admin </p>
                            <img src="/static/crown.png" alt="">
                        </div>
                        <div class="date">
                            <p>May 23</p>

                            <p> &#183; 1 min</p>
                        </div>

                    </div>
                </div>
                <div class="para">
                    <h2>The Perfect Sizzle</h2>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and
                        entices your audience to continue reading....</p>
                </div>


                <hr>
                <div class="last">
                    <p>2,00,490 views</p>
                    <p>40,840 comments</p>
                    <p class="loveimg" onclick="l1()">❤️‍🔥</p>


                    <!-- <img src="heart-outline.svg" alt=""> -->
                </div>
            </div>
        </div>

        <!-- box 6 -->
        <div class="box">
            <div class="box1">
                <img src="/static/f61af8_3c02fe3e97bd4a4babca5036ba63cfa3~mv2_d_4000_2667_s_4_2.jpg" alt="">

            </div>
            <div class="box2">
                <div class="upbox">
                    <img src="/static/profilepic.png" alt="">

                    <div class="admindetails">
                        <div class="admin">
                            <p>Admin </p>
                            <img src="/static/crown.png" alt="">
                        </div>
                        <div class="date">
                            <p>May 23</p>

                            <p> &#183; 1 min</p>
                        </div>

                    </div>
                </div>
                <div class="para">
                    <h2>Eating With Your Eyes First</h2>
                    <p>Create a blog post subtitle that summarizes your post in a few short, punchy sentences and
                        entices your audience to continue reading....</p>
                </div>


                <hr>
                <div class="last">
                    <p>10,304 views</p>
                    <p>5,657 comments</p>
                    <p class="loveimg" onclick="l1()">❤️‍🔥</p>


                    <!-- <img src="heart-outline.svg" alt=""> -->
                </div>
            </div>
        </div>










    </div>








    <div class="foot">
        <a href="https://twitter.com/Raviteja_2674"><img src="static/Twitter.webp" alt=""></a>
        <a href="https://www.instagram.com/raviteja_2674/"><img src="static/Instagram.webp" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100087101992823"><img src="static/facebook.webp" alt=""></a>

    </div>
    <div class="crline">
        <p> © 2035 by The Art of Food. Powered and secured by Teja..</p>
    </div>


    <script>
        function l1() {
            alert("❤️‍🔥 You have Liked Our Blog Item..ThankYou")
        }
    </script>

</body>

</html>