<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Food Photography | By RaviTeja</title>
    <link rel="shortcut icon" href="/static/fast-food-outline.svg" type="image/x-icon">
    <link rel="stylesheet" href="../views/editorial.css">
</head>

<body>

    <div id="navbar">
        <div class="logo">
            <h4>RaviTeja</h4>
        </div>
        <div class="navelements">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

    </div>

    <div class="upphead">
        <a href="/portfolio" class="backbtn">
            <h4> &#60;  Back to Portfolio</h4>
        </a>
        

        <h1>Edit</h1>
    </div>
    <div class="mainpart">

        <div class="box1">
            <div class="upperbox">
                <img src="/static/655789de37e740c0977186eeece8ae51.jpg" alt="">
                <img src="/static/84770f_1522cb7669e6458188a6502ae0ff80b2~mv2_d_1800_1200_s_2.jpg" alt="">
            </div>

            <div class="downbox">
                <img src="/static/84770f_a1bf19a2e9a8419780ccf6742281aa31~mv2_d_3822_2531_s_4_2.jpg" alt="">
            </div>


        </div>
        <div class="box2">
            <img src="/static/84770f_cc4e5621c21343fbb6b279cd8dbdc365~mv2_d_5184_3456_s_4_2.jpg" alt="">

        </div>

    </div>




    <div class="foot">
        <a href="https://twitter.com/Raviteja_2674"><img src="static/Twitter.webp" alt=""></a>
        <a href="https://www.instagram.com/raviteja_2674/"><img src="static/Instagram.webp" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100087101992823"><img src="static/facebook.webp" alt=""></a>

    </div>
    <div class="crline">
        <p> © 2035 by The Art of Food. Powered and secured by Teja..</p>
    </div>

</body>

</html>