<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Photography | By RaviTeja </title>
    <link rel="shortcut icon" href="/static/fast-food-outline.svg" type="image/x-icon">
    <link rel="stylesheet" href="../views/portfolio.css">
</head>

<body>
    <div id="navbar">
        <div class="logo">
            <h4>RaviTeja</h4>
        </div>
        <div class="navelements">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

    </div>

    <div class="mheading">
        <h1>PORTFOLIO</h1>
    </div>
    <div class="imgcont">

        <div class="box1 ">
            <h2>Editorial</h2>
           <a href="/editorial"> <button class="pbtn">view</button></a>


        </div>


        <div class="box2">
            <h2>Food And Serve</h2>
           <a href="/foodserve"><button class="pbtn">view</button>

           </a> 

        </div>

        <div class="box3">
            
            <h2>Baked Foods</h2>
          <a href="/bakedfoods"><button class="pbtn">view</button></a>  



        </div>
    </div>



    <div class="foot">
        <a href="https://twitter.com/Raviteja_2674"><img src="static/Twitter.webp" alt=""></a>
        <a href="https://www.instagram.com/raviteja_2674/"><img src="static/Instagram.webp" alt=""></a>
        <a href="https://www.facebook.com/profile.php?id=100087101992823"><img src="static/facebook.webp" alt=""></a>

    </div>
    <div class="crline">
        <p> © 2035 by The Art of Food. Powered and secured by Teja..</p>
    </div>


</body>

</html>